-i https://pypi.org/simple/
atomicwrites==1.3.0
attrs==19.3.0
certifi==2019.9.11
importlib-metadata==0.23 ; python_version < '3.8'
more-itertools==7.2.0
pbr==5.4.3
pipenv-to-requirements==0.6.1
pipenv==2018.11.26
pluggy==0.13.0
py==1.8.0
pytest==4.0.2
six==1.12.0
virtualenv-clone==0.5.3
virtualenv==16.7.6
zipp==0.6.0
